@model DLL.Entites.MeleeWeapon

@{
    ViewData["Title"] = "DetailsMelee";
}

<h1>DetailsMelee</h1>

<div>
    <h4>MeleeWeapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeleeWeaponType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeleeWeaponType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaponType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaponType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandWeaponType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandWeaponType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriticalDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriticalDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rarity)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
