@model IEnumerable<DLL.Entites.Base.Armor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArmorMaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhysicalRezist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicRezist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FireRezist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IceRezist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoisonRezist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriticalDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rarity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorMaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalRezist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MagicRezist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FireRezist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IceRezist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoisonRezist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriticalDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
