@model IEnumerable<DLL.Entites.Base.BaseEntity>

<div class="video">
            @*<video class="video__media" src="~/images/fon2.mp4" autoplay muted loop asp-append-version="true"></video>*@
        </div>
<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />
    <section class="main-content">
		<div class="container">
			<div class="row">
                
@foreach (var item in Model) {
				<div class="col-lg-4 col-sm-6 mb-3">
					<div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="~/images/Armor1.jpg" alt=""></a>
						</div>
						<div class="product-details">
                                       
							<h4><a href="#"> @Html.DisplayFor(modelItem => item.Name) </a></h4>
                           

                                @if (true)
                            {

                                
                                int i = (int) item.Rarity;
                                switch (i)
                                {
                                    case 0:
                                     <span>
                                    Rarity:
                                </span> 
                                <span class="sp1" style = "background-color: grey; border-radius: 6px">
                                    @Html.DisplayFor(modelItem => item.Rarity)
                                </span>
                                        break;
                                     case 1:
                                     <span>
                                    Rarity:
                                </span> 
                                <span class="sp1" style = "background-color: green; border-radius: 6px">
                                    @Html.DisplayFor(modelItem => item.Rarity)
                                </span>
                                        break;
                                     case 2:
                                     <span>
                                    Rarity:
                                </span> 
                                <span class="sp1" style = "background-color: blue; border-radius: 6px">
                                    @Html.DisplayFor(modelItem => item.Rarity)
                                </span>
                                        break;
                                     case 3:
                                     <span>
                                    Rarity:
                                </span> 
                                <span class="sp1" style = "background-color: purple; border-radius: 6px">
                                    @Html.DisplayFor(modelItem => item.Rarity)
                                </span>
                                        break;
                                     case 4:
                                     <span>
                                    Rarity:
                                </span> 
                                <span class="sp1" style = "background-color: yellow; border-radius: 6px">
                                    @Html.DisplayFor(modelItem => item.Rarity)
                                </span>
                                        break;
                                }
                            }
                            <p class="card-text">
                                
                                 @*@Html.ActionLink("Edit", "Edit", "armor" ,new {  id=item.Id  }) |
                                @Html.ActionLink("Details", "Details" , "armor", new {  id=item.Id  }) |
                                @Html.ActionLink("Delete", "delete", "armor", new {  id=item.Id  })*@</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> $99
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
                
}    
		    </div>
		</div>
	</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
